streamlit
python-dotenv
pytube
youtube-transcript-api
openai-whisper
langchain
langchain-community
langchain-core
faiss-cpu
huggingface-hub
transformers
sentence-transformers
AI21
rank-bm25
tqdm
requests
numpy
pandas
